body{
    background-color: #F0F7FF;
}

/*left bar style*/
#leftspace, #leftbar, #navbarSupportedContent {
    background-color: white;
    opacity: 100%;
}

#imgLogo {
    display: block;
    margin: auto;
    width: 50%;
    margin-bottom: 1.25rem;
}

div.home,
div.new_scolarship,
div.donor_history,
div.request_history,
div.active_request,
div.settings{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 3.125rem;
    color: #8A8A8A;
    font-weight: bold;
}

.navbar-nav.flex-column a {
    color: grey;
  }

.navbar-nav.flex-column .nav-link:hover {
    color: #A4D955;
}

.navbar-nav.flex-column .nav-link.active {
    color: #A4D955;
    background-color: #F0F7FF;
}

.navbar-toggler.my-toggler {
    border: 2px solid #558018;
    border-radius: 10px;
    background-color: white;
    color:#558018;
    font-weight: bold;
  }

/*center title style*/

#contTitulo{
    background: #A4D955;
    border-radius: 20px;
    height: 9rem;
}


#titulo {
    color: #FFFFFF;
    opacity: 100%;
    font-family:'Open Sans';
    font-size: 2rem;
    font-weight: bold;
    margin-left: 3rem;

} 

#line{
    height: 0.15rem;
    opacity: 100%;
    border: 0.094rem solid #FFFFFF;
    background-color: #FFFFFF;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-left: 2rem;

}

#graduatedImg{
    float: right;
    width: 20rem;
    height:9rem;
    background: url(.png);
}

/*form style*/
.container{
    
    background-color: #fff;

}


#subtitulo{
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.688rem;

    color: #8A8A8A;
}

#subtitulo2{
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.688rem;

    color: #8A8A8A;
}

#line2{
    border: 0.094px solid #8A8A8A;
    background-color: #8A8A8A;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#campo {
    margin-bottom: 1em;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1em;
    color: #8A8A8A;
}

#campo label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 43.75rem;
    font-size: 0.938rem;
    line-height: 1.688rem;
    margin-bottom: 0.2em;
    color: #8A8A8A;
    display: block;
}


#campo input[type="text"], #campo input[type="email"],#campo input[type="number"], #campo input[type="file"], #campo select {
    
    border: 1px solid #558018;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0,0,0,0.2);
    display: block;

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1em;
    color: #8A8A8A;
    border-radius: 0.5rem;
    
}



#check {
    padding: 0.2em;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1em;
    color: #8A8A8A;
    border-radius: 8px;
}


textarea{
    border: 1px solid #558018;
    border-radius: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#botonEnviar {
    background-color: #f29f05; 
    border-color: #f29f05; 
    color: #fff; 

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
 
  #botonEnviar:hover {
    background-color: #A4D955; 
    border-color: #A4D955; 
    color: #fff; 
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
  }

/*right bar style*/
#rightbar{     
    width: fit-content;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 43.75rem;
    font-size: 1.25rem;
    line-height: 1.688rem;
 
    background: #FFFFFF;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}


#profiles{
    margin-left: 4%;
    
    background: #FFDA6D;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}

#profile_picture{
 
    width: min-content;
    height: fit-content;
    margin-left: 7%;
    margin-top: 3%;
    border-radius: 10px 10px 10px 10px;
    background: #FFFFFF
}

#profile_names{

   font-family: 'Open Sans';
    font-style: normal;
    font-weight: 37.5rem;
    font-size: 0.938rem;
    font-style: normal;
    color: #333333;

    margin-top: 5%;
    
}

#perfil_dropdown{
    margin-top: 4%;
}

#showed_notifications{
    margin-left: 4%;
    border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
    background: #FFEEBD;
}
#notif{
    font-family: 'Open Sans';
    font-style: bold;
    font-size: 1.25rem;
    color: #333333;
    margin-top: 9%;
}


#see_all a{
    font-family: 'Open Sans';
    font-style: bold;
    font-size: 0.813rem;
    color: #558018;
    margin-left: 30%;
}

#leftspace{
    background-color: #fff;
    opacity: 100%;
}


#ok,#x2,#new{
    background-color: #F0F7FF;
}

#fofo{
    background-color: #fff;
}