{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    #rechazarBTN {
        color: #F29F05;
        background-color: white;
        border: 2px solid #F29F05;
        transition: background-color 0.3s, color 0.3s;
        margin-top: -1.5%;
        margin-right: 20%;
    }
    
    #rechazarBTN:hover {
        background-color: #F29F05;
        color: white;
    }
    
    #publicarBTN {
        color: #A4D955;
        background-color: white;
        border: 2px solid #A4D955;
        transition: background-color 0.3s, color 0.3s;
        margin-top: -1.5%;
    }
    
    #publicarBTN:hover {
        background-color: #A4D955;
        color: white;
    }

    
    .search-icon {
        background-color: #A4D955;
        border: none;
        color: white;
        border-top-right-radius: 30%;
        border-bottom-right-radius: 30%;
        cursor: pointer;
        height: 50px;
    }
    
    .search-icon i {
        padding: 5px;
    }

    .custom-input {
        height: 50px; /* Ajusta la altura según tus necesidades */
        font-family: 'Open Sans', sans-serif;
        border-radius: 1rem;
    }

    #state_filter option:hover {
        background-color: #A4D955;
    }

    .btn-primary:hover {
        background-color: #A4D955;
    }

    .itemall {
        background-color: white;
        border: 1px solid #F29F05;
        border-radius: 1rem;
        margin-right: 10%;
      }

      .itemn {
        color: #F29F05;
        font-weight: 600;
        text-decoration: none;
      }

      .itemn:hover {
        color: black;
        font-weight: 600;
        text-decoration: none;
      }

      .itemall:hover {
        background-color: white;
        border: 1px solid #a4d955;
        border-radius: 1rem;
      }
</style>

<link href="{% static '/historyapplications.css' %}" rel="stylesheet"/>
<link href="{% static 'newscholarship.css' %}" rel="stylesheet"/>

<div class="row mb-3 flex-sm-row" id="contTitulo">
      <div class="col-md-8">
        <br />
        <h1 id="titulo" class="mt-2" style="color: white">Gestión de solicitudes</h1>
        <hr id="line" class="w-80" />
        <h4 style="color: white; font-weight: 400; font-size:medium; margin-left: 10%; margin-bottom: 10%;">
            Aprueba la publicación de nuevas solicitudes de beca
        </h4>
      </div>
      <div class="col-md-4">
        <img
          src="../../media/icons/HigherEducation.png"
          alt="No Encontrada"
          class="img-fluid d-none d-md-block"
          id="graduatedImg"
        />
      </div>
    </div>

<div class="row mb-3 flex-sm-row" style=" background-color: white; margin-top:1rem; border-radius: 3%;  margin-left: 2%; width: 98%;">
<!-- Container -->
<div class="col-lg-8 d-flex">
    <h4 style="color: #F29F05; font-weight: bolder; margin-top: 2rem; margin-left:5%;">Solicitudes de beca</h4>
  </div>
     
  <div class="col-lg-4 align-self-end d-flex justify-content-end" >

    <button class="btn itemall" type="button" aria-expanded="false">
      <a class="text-center itemn " href="{% url 'scholarships:scholarships' %}"> Ver todas </a>
    </button>

  </div>
  <hr style="border: 2px solid #ECECEC;
  transform: matrix(1, 0.01, 0, 1, 0, 0); width: 90%; margin-left: 5%;">
<!-- Mostrar siempre el formulario de filtrado -->

<form method="get" class="d-flex col=lg-12" style="width: 96%; margin-left: 2.5%;" action="{% url 'scholarships:scholarships' %}">
    <div class="input-group mb-3">
        <input type="text"  id="inputs" class="form-control custom-input" placeholder="Buscar solicitud de beca" name="search"   style="font-weight: bolder;">
        <div class="input-group-append">
            <button style="
            border: none; background-color: transparent;" type="submit">
            <span class="input-group-text search-icon">
              <i class="fas fa-search"></i>
            </span>
            </button>
        </div>
    </div>
</form>

<form method="get" style="width: 50%; margin-left: 2.5%;" action="{% url 'scholarships:scholarships' %}">
    <div class="input-group mb-3">
        <label for="state_filter" class="input-group-text" style="background-color: #fff;">Publicación:</label>
        <select name="state" id="state_filter" class="form-select">
            <option value="" {% if state_filter == "" %}selected{% endif %}>Todos</option>
            <option value="P" {% if state_filter == "P" %}selected{% endif %}>Pendiente</option>
            <option value="A" {% if state_filter == "A" %}selected{% endif %}>Aceptada</option>
            <option value="R" {% if state_filter == "R" %}selected{% endif %}>Rechazada</option>
        </select>
        <button type="submit" class="btn btn-primary" style="background-color: #A4D955; border: transparent;">Filtrar</button>
    </div>
</form>


<div class="table-responsive " style="width: 95%; margin-left: 2.5%;" >
    <table class="table" style="border: transparent;">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th style="width: 2rem"></th>
        </tr>
        
      </thead>
      <tbody>
{% if scholarships %}    
    {% for scholarship in scholarships %}    
        <tr class="mt-5 align-middle" style="box-shadow:0px 1px 4px rgba(0, 0, 0, 0.25); border-radius: 10px;">
            <td class="align-middle" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
              {% if scholarship.id_user.profilePicture != "" %}
              <img src="/media/{{ scholarship.id_user.profilePicture }}" class="img-fluid" alt="noimage"
                style="max-width: 3rem; max-height: 3rem; border-radius: 10px; margin-right: 0.5rem;">
              {% else %}
              <img src="/media/users/profile_default.png" class="img-fluid" alt="noimage"
                style="max-width: 3rem; max-height: 3rem; border-radius: 10px; margin-right: 0.5rem;">
              {% endif %}
            </td>
            <td>
              <div class="row">
                <div class="col-12" style="font-weight: bolder; font-size: larger;">{{ scholarship.id_user.name|capfirst }}
                </div>
                <div class="col-12">{{ scholarship.institution.name }}</div>
                <div class="col-12">{{ scholarship.institution.city }}</div>
                <div class="col-12">Estado de publicación: {% if scholarship.state == 'R' %} Rechazada {% elif scholarship.state == 'A'%} Aceptada {% elif scholarship.state == 'P'%} Pendiente {% else %}{{ scholarship.state }}{% endif %}</div>
              </div>
            </td>
            <td>
              <div class="row ">
                <div class="col-12" style="font-weight: 700;">{{ scholarship.period_current }}º</div>
                <div class="col-12">{{ scholarship.program_adm }}</div>
                
              </div>
            </td>
            <td>
              <div class="row my-auto">
                <div class="col-12 text-center">Valor semestral</div>
                <div class="col-12 text-center">$ {{ scholarship.value_period }}</div>
              </div>
            </td> 
            
            <td
              style="background-color: rgba(242, 159, 5, 0.7); border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
              class="align-middle">
              <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-link p-0" style=" border: none;" name="viewBeneficiaryDetails"
                  data-scholarship-id="{{ x.id_user.name }}">
                  <a href="{% url 'scholarships:showdetailsbeneficiary' id=scholarship.id %}">
                  <img src="/media/images/Forward.png" class="img-fluid" alt="noimage"
                    style="max-width: 3rem; max-height: 3rem;">
                  </a>
                </button>
              </div>
            </td> 

          </tr>
          <tr style="margin-top: -1rem;">
            <td colspan="5" style="text-align: center;">
                {% if scholarship.state == 'Pendiente' %}
                <div class="col-12">
                    <form method="post" action="{% url 'scholarships:scholarships' %}">
                        {% csrf_token %}
                        <input type="hidden" name="scholarship_id" value="{{ scholarship.id }}">
                        <button type="submit" name="action" id="rechazarBTN" value="rechazar" class="btn custom btn col-md-3">Rechazar</button>
                        <button type="submit" name="action" id="publicarBTN" value="publicar" class="btn custom btn col-md-3">Publicar</button>
                    </form>
                </div>
                {% endif %} 
            </td>
            
        </tr>

    {% endfor %}
    

{% else %}

    <div class="row justify-content-center" style="min-height: 85vh">
        <div class="col align-self-center text-center">
            <p style="font-weight: 600; font-size: 24px">
                No se encontraron resultados
            </p>
        </div>
    </div>

{% endif %}
      </tbody>
    </table>
</div>
</div>


{% endblock %}
</body>
</html>


