{% extends 'base.html' %}
{% load static %}


{% if user.is_authenticated %}
{% block content %}
<link href="{% static '/consultBeneficiario.css' %}" rel="stylesheet" />

<div class="container-fluid">
    <div class="row mb-3 flex-sm-row " style="background-color: #A4D955; border-radius: 20px; height: 10.5rem; ">
        <div class="col-md-8 ">
            <h2 class="mt-2 text-left" style="color: white">Hola de nuevo,</h2>
            <h2 style="color: white;">
                {{ request.user.name|capfirst }}
            </h2>
            {% if user.role == 1 %}
            <h5 class="mt-2" style="color: white; font-weight: 400; font-size:medium;">
                Aquí puedes revisar la información sobre tu <br> solicitud de beca
            </h5>
            {% elif user.role == 2 or user.role == 3 %}
            <h5 class="mt-2" style="color: white; font-weight: 400; font-size:medium;">
                ¡Hoy puedes cumplir muchos sueños!
            </h5>
            {% elif user.role == 5 %}
            <h5 class="mt-2" style="color: white; font-weight: 400; font-size:medium;">
                Como administrador puedes dar gestión a los usuarios, solicitudes de beca e instituciones aliadas.
            </h5>
            {% endif %}
        </div>

        <div class="col-md-4">
            <img src="../../media/icons/HigherEducation.png" alt="No Encontrada" class="img-fluid d-none d-md-block"
                id="graduatedImg" />
        </div>


    </div>


    <div class="row mb-3 flex-sm-row" style=" background-color: white;">
        {% if user.role == 1 %}
        <div class="text-center d-flex align-items-center">
            <p style="color: #F29F05; font-weight: bold; font-size:1.2rem;" class="m-auto">
                Solicitud de beca activa
            </p>
        </div>
        <div class="col-md-12 d-flex text-center align-items-center justify-content-center"
            style="height: 13rem; background-color: white;">
            {% if solicitud_activa %}

            <table border="1" class="table text-center">
                <tr style="background-color: white; color: #000000; font-weight: 500">
                    <th>Fecha Solicitud</th>
                    <th>Estado</th>
                    <th>Programa</th>
                    <th>Valor Periodo</th>
                    <th>Nro Periodos</th>
                </tr>

                <tr class="align-middle" style="font-weight: 600">
                    <td>{{ solicitud_activa.date_application|date:"Y-m-d" }}</td>
                    <td>
                        {% if solicitud_activa.state == 'P' %} Pendiente {% elif solicitud_activa.state == 'A' %}
                        Aceptada
                        {% elif solicitud_activa.state == 'R' %} Rechazada {% else %} {{ solicitud_activa.state }}
                        {% endif %}
                    </td>
                    <td>{{ solicitud_activa.program_adm }}</td>
                    <td>$ {{ solicitud_activa.value_period }}</td>
                    <td>{{ solicitud_activa.total_periods }}</td>
                </tr>

            </table>

            {% else %}
            <div class=" col-md-6 ">
                <p style=" font-weight: 600; font-size:medium;" class="m-auto">
                    No tienes solicitudes activas.
                </p>
            </div>
            {% endif %}
        </div>
        {% elif user.role == 2 or user.role == 3%}
        <div class="text-center d-flex ">
            <p style="color: #F29F05; font-weight: bold; font-size:1.2rem;" class="m-auto">
                Últimos aportes
            </p>
        </div>
        <div class="col-md-12 d-flex text-center align-items-center justify-content-center"
            style="height: 13rem; background-color: white;">
            {% if donations %}

            <table border="1" class="table text-center">
                <tr style="background-color: white; color: #000000; font-weight: 500">
                    <th>Datos del beneficiario</th>
                    <th>Fecha donación</th>
                    <th>Monto</th>
                    <th>Método de pago</th>

                </tr>

                {% for x in donations %}
                <tr class="align-middle" style="font-weight: 600">
                    <td>
                        {% if x.scolarship_donation.id_user.name %}
                        {{ x.scolarship_donation.id_user.name }}<br>
                        {{ x.scolarship_donation.program_adm }}<br>
                        {{ x.scolarship_donation.institution.name }}<br>
                        {% else %}

                        {{ x.institution_donation.name }}
                        <br>
                        {% endif %}
                    </td>
                    <td>{{ x.date_transaction|date:"Y-m-d" }}</td>
                    <td>$ {{ x.amount }}</td>
                    <td>
                        {% if x.type_pay == "PSE" %} PSE
                        {% elif x.type_pay == "Cards" %} Tarjeta
                        {% elif x.type_pay == "PayPal" %} Paypal
                        {% else %} {{ x.type_pay }}
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
            </table>

            {% else %}
            <div class=" col-md-6 ">
                <p style=" font-weight: 600; font-size:medium;" class="m-auto">
                    No has realizado aportes aún.
                </p>
            </div>
            {% endif %}
        </div>
        {% elif user.role == 4 %}

        {% if user.institution.verificationState == 'A'%}


        <div class="text-center d-flex ">
            <p style="color: #F29F05; font-weight: bold; font-size:1.2rem;" class="m-auto">
                Últimas solicitudes

            </p>
        </div>
        <div class="col-md-12 d-flex text-center align-items-center justify-content-center"
            style="height: 32rem; background-color: white;">

            {% if scholarshipList %}
            <ul>
                {% for scholarship in scholarshipList %}
                <tr class="mt-3 align-middle">
                    <td class="align-middle" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                        {% if scholarship.id_user.profilePicture != "" %}
                        <img src="/media/{{ x.id_user.profilePicture }}" class="img-fluid" alt="noimage"
                            style="max-width: 3rem; max-height: 3rem; border-radius: 10px; margin-right: 0.5rem;">
                        {% else %}
                        <img src="/media/users/profile_default.png" class="img-fluid" alt="noimage"
                            style="max-width: 3rem; max-height: 3rem; border-radius: 10px; margin-right: 0.5rem;">
                        {% endif %}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-12" style="font-weight: bolder; font-size: larger;">{{
                                x.id_user.name|capfirst }}
                            </div>
                            <div class="col-12">{{ scholarship.institution.name }}</div>
                            <div class="col-12">{{ scholarship.institution.city }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="row ">
                            <div class="col-12" style="font-weight: 700;">{{ scholarship.period_current }}º</div>
                            <div class="col-12">{{ scholarship.program_adm }}</div>
                        </div>
                    </td>
                    <td>
                        <div class="row my-auto">
                            <div class="col-12 text-center">Valor semestral</div>
                            <div class="col-12 text-center">$ {{ scholarship.value_period }}</div>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </ul>
            {% else %}
            <div class=" col-md-6 ">
                <p style=" font-weight: 600; font-size:medium;" class="m-auto">
                    No se han realizado solicitudes aún.
                </p>
            </div>
            {% endif %}
        </div>
        {% else %}

        <div class="col-md-12 d-flex text-center align-items-center justify-content-center"
            style="height: 32rem; background-color: white;">
            <div class=" col-md-6 ">
                <p style=" font-weight: 600; font-size:medium;" class="m-auto">
                    Tu cuenta aún no ha sido aprobada, intenta más tarde.

                </p>
            </div>
        </div>
        {% endif %}

        {% elif user.role == 5%}
        <div class="text-center d-flex ">
            <p style="color: #F29F05; font-weight: bold; font-size:1.2rem;" class="m-auto">
                Últimas donaciones realizadas
            </p>
        </div>
        <div class="col-md-12 d-flex text-center align-items-center justify-content-center"
            style="height: 32rem; background-color: white;">
            {% if transactions %}

            <table border="1" class="table text-center">
                <tr style="background-color: white; color: #000000; font-weight: 500">
                    <th>Datos del beneficiario</th>
                    <th>Datos del donador</th>
                    <th>Fecha donación</th>
                    <th>Monto</th>
                    <th>Método de pago</th>
                </tr>

                {% for x in transactions %}
                <tr class="align-middle" style="font-weight: 600">
                    <td>
                        {% if x.scolarship_donation.id_user.name %}
                        {{ x.scolarship_donation.id_user.name }}<br>
                        {{ x.scolarship_donation.program_adm }}<br>
                        {{ x.scolarship_donation.institution.name }}<br>

                        {% else %}

                        {{ x.institution_donation.name }}
                        <br>
                        {% endif %}
                    </td>
                    <td>

                        {{ x.donor_user.name }}<br>
                        {{ x.donor_user.numID }}<br>

                    </td>
                    <td>{{ x.date_transaction|date:"Y-m-d" }}</td>
                    <td>$ {{ x.amount }}</td>
                    <td>
                        {% if x.type_pay == "PSE" %} PSE
                        {% elif x.type_pay == "Cards" %} Tarjeta
                        {% elif x.type_pay == "PayPal" %} Paypal
                        {% else %} {{ x.type_pay }}
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
            </table>

            {% else %}
            <div class=" col-md-6 ">
                <p style=" font-weight: 600; font-size:medium;" class="m-auto">
                    No se han realizado donaciones aún.
                </p>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <hr style="color: #ECECEC;">

    </div>

    {% if user.role == 1 %}
    <div class="row mb-3 flex-sm-row mt-2">
        <div class="col-md-6" style="background-color: white;  border-radius: 1rem;">
            <div class="howreqletter mt-2">
                <p>
                    ¿Cómo hacer una solicitud de <br> beca satisfactoria?
                </p>
            </div>
            <div class="row" style=" margin-top: 2rem;">
                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;">Sube todos los <br> documentos necesarios</p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check1" />
                    </div>
                </div>

                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;">Describe por qué <br> deseas la beca</p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check1" />
                    </div>
                </div>

                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;"> Ingresa los valores <br> correctammente </p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check3" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-3 mb-3" style="background-color: white;  border-radius: 1rem;">
            <div class="rememberletter">
                <p style="color: #F29F05;font-size: 1.2rem;font-weight: bold;">
                    Recuerda...
                </p>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex " style=" border-radius: 1rem;">
                    <img src="../../media/images/Alert_Orange.png" alt="No Encontrada" width="40" height="40"
                        id="icon_check4" />
                    <p class="mx-3"> <strong> Admisión </strong> <br> Debes estar previamente <br> admitido en la
                        institución que
                        <br> deseas estudiar.
                    </p>
                </div>

                <div class="col-lg-12 d-flex mt-2 " style="border-radius: 1rem; ">
                    <img src="../../media/images/Alert_Orange.png" alt="No Encontrada" width="40" height="40"
                        id="icon_check4" />
                    <p class="mx-3"> <strong> Institución </strong> <br> Debes revisar que la <br> institución en la que
                        estás
                        <br> admitido sea una de nuestras <br> instituciones aliadas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Donor -->
    {% elif user.role == 2 or user.role == 3%}
    <div class="row mb-3 flex-sm-row mt-2 justify-content-between">
        <div class="col-lg-5 md-12" style="background-color: white;  border-radius: 1rem;">
            <div class="howreqletter mt-2 ju">
                <p>
                    Pasos para realizar una donación.
                </p>
            </div>
            <div class="row" style=" margin-top: 2rem;">
                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;">Decide que tipo de donación deseas realizar.</p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check1" />
                    </div>
                </div>

                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;">Consulta los posibles beneficiarios y elige uno.</p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check1" />
                    </div>
                </div>

                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;"> Escoge el tipo de aporte que deseas hacer. </p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check3" />
                    </div>
                </div>

                <div class="row d-flex my-2">
                    <div class="col-lg-9">
                        <p style="font-weight: 600;"> ¡Llena el formulario y dona! </p>
                    </div>
                    <div class="col-lg-3 align-self-end ">
                        <img src="../../media/images/IconActive_Green.png" alt="No Encontrada" class="img-fluid"
                            id="icon_check3" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 md-12" style="background-color: white;  border-radius: 1rem;">
            <div class="rememberletter">
                <p style="color: #F29F05;font-size: 1.2rem;font-weight: bold;">
                    ¿A quién puedo beneficiar?
                </p>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex " style=" border-radius: 1rem;">
                    <img src="../../media/images/Student Male.png" alt="No Encontrada" width="40" height="40"
                        id="icon_check4" />
                    <p class="mx-3"> <strong> Estudiantes </strong> <br> Aspirantes a una beca para su carrera
                        universitaría, técnica o tecnológica </p>
                </div>

                <div class="col-lg-12 d-flex mt-2 " style="border-radius: 1rem; ">
                    <img src="../../media/images/Univerc.png" alt="No Encontrada" width="40" height="40"
                        id="icon_check4" />
                    <p class="mx-3"> <strong> Instituciones </strong> <br> Escuelas que buscan recursos para innovacción
                        academica. </p>
                </div>

                <div class="col-lg-12 d-flex mt-2 " style="border-radius: 1rem; ">
                    <img src="../../media/images/Diploma.png" alt="No Encontrada" width="40" height="40"
                        id="icon_check4" />
                    <p class="mx-3"> <strong> Departamentos o Programas </strong> <br> Áreas académicas de una
                        institución que necesitan inversión. </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
{% endif %}